.button-blue {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    padding: 18px 30px;
    background-color: $active-regular;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    color: $white;
    &:hover {
        background-color: $active-hover;
    }
    &:active {
        background-color: $active-active;
    }
    &--progress {
        color: transparent;
        background-color: $bg-alt;
        box-shadow: none;
        position: relative;
        &:hover {
            background-color: $bg-alt;
        }
        &::after {
            content: "";
            width: 31px;
            height: 31px;
            background-image: url("../img/spinner.svg");
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            animation: 0.8s linear button-progress infinite;
        }
        @keyframes button-progress {
            from {
                transform: rotate(0turn);
            }
            to {
                transform: rotate(1turn);
            }
        }
    }
    &--response {
        color: transparent;
        background-color: $bg-alt;
        box-shadow: none;
        position: relative;
        &:hover {
            background-color: $bg-alt;
        }
        &::after {
            content: "Sent";
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: $main-regular;
        }
    }
}
