.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    grid-template-areas: "top top"
                         "logo-list menu";
    padding-bottom: 8px;
    &__top {
        grid-area: top;
        background-color: rgba(245, 245, 250, 0.2);
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 12px;
        &--gray {
            background-color: $bg;
        }
    }
    &__lang-list{
        display: flex;
        align-items: center;
        &-item {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;
            color: $white;
            text-transform: uppercase;
            padding: 5px 6px;
            border-radius: 8px;
            transition-duration: 0.3s;
            transition-property: background-color;
            &:not(:last-child) {
                margin-right: 2px;
            }
            &:hover {
                color: $white;
            }
            &:not(.current-page):hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
            &--gray:not(.current-page) {
                color: $text;
                &:hover {
                    background-color: $bg;
                    color: $text;
                }
            }
        }
    }
    &__tel {
        padding-top: 3px;
        &:hover {
            color: $text;
        }
        &:not(.tel--text-color):hover {
            color: $white;
        }
    }
    &__logo-wrapper {
        grid-area: logo-list;
        margin-left: -15px;
        display: flex;
        align-items: center;
        &-text {
            font-size: 20px;
            line-height: 24px;
            color: $white;
            display: flex;
            align-items: center;
            margin-left: 3px;
            margin-top: -4px;
            flex-shrink: 0;
            &::before {
                content: "";
                width: 12px;
                height: 26px;
                display: inline-block;
                vertical-align: top;
                background-image: url("../img/slash.svg");
                background-size: cover;
                margin-right: 4px;
            }
            &--dark {
                color: $main-regular;
            }
        }
    }
    &__menu {
        grid-area: menu;
        margin-right: -15px;
    }
    &__address,
    &__facebook {
        display: none;
    }
}

@media (min-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "top"
                             "logo-list"
                             "menu";
        padding-bottom: 5px;
        &__lang-list {
            margin-right: 6px;
        }
        &__top {
            padding: 51px 0 10px ;
            align-items: center;
            justify-content: flex-start;
            background-color: transparent;
            margin-bottom: 19px;
            margin-left: 2px;
        }
        &__address {
            display: flex;
            align-items: center;
            margin: 0 6px 0 0;
        }
        &__address::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $separator;
            margin-right: 6px;
        }
        &__tel {
            padding-top: 0;
            display: flex;
            align-items: center;
            margin-right: 6px;
        }
        &__tel::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $separator;
            margin-right: 6px;
        }
        &__facebook {
            display: flex;
            align-items: center;
        }
        &__facebook::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $separator;
            margin-right: 6px;
        }
        &__logo-wrapper {
            margin-left: 0;
            &-text {
                font-size: 36px;
                line-height: 44px;
                margin-top: -25px;
                &::before {
                    content: "";
                    width: 21px;
                    height: 47px;
                    display: inline-block;
                    vertical-align: top;
                    background-image: url("../img/slash.svg");
                    margin-right: 4px;
                }
            }
        }
        &__menu {
            padding-right: 0;
            margin-top: 25px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "logo-list top"
                             "logo-list menu";
        &__logo-wrapper {
            padding-top: 50px;
        }
        &__top {
            padding: 49px 30px 0px 0px;
            margin-bottom: 0px;
            justify-self: end;
        }
        &__menu {
            justify-self: end;
            margin-top: 15px;
            padding-right: 14px;
        }
        &__address::before {
            margin-right: 4px;
        }
    }
}
