.more-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 18px 30px;
    background-color: $active-regular;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    color: $white;
    cursor: pointer;
    &:hover {
        color: $white;
        background-color: $active-hover;
    }
}
