.slider-dots {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    &__item {
        padding: 0 7px;
        &-btn {
            width: 16px;
            height: 16px;
            background-color: $active-regular;
            border-radius: 100%;
            opacity: 0.2;
            text-indent: 100px;
            overflow: hidden;
            transition-duration: 0.3s;
            transition-property: opacity;
            &--active {
                opacity: 1;
            }
            &:not(&--active):hover {
                opacity: 0.6;
            }
        }
    }
}
