.switcher {
    background-color: $separator;
    padding: 2px;
    border-radius: 12px;
    align-self: center;
    margin-bottom: 28px;
    &__btn {
        padding: 9px 30px 10px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        &--active {
            background-color: $white;
        }
        &:not(&--active):hover {
            background-color: $bg;
        }
    }
}
