.team-slider {
    padding-bottom: 47px;
    margin-top: -30px;
    margin-bottom: 57px;
    &__inner {
        position: relative;
    }
    &__interpage-link {
        margin-bottom: 7px;
        align-self: flex-start;
        & svg {
            margin-left: 2px;
        }
    }
    &__content {
        background-color: $bg-alt;
        border-radius: 12px 12px 12px 12px;
        &-img {
            &-picture {
                height: 500px;
                width: 100%;
                object-fit: cover;
                border-radius: 12px 12px 0px 0px;
                vertical-align: top;
                &--01 {
                    background-color: $green;
                }
            }
        }
        &-description {
            padding: 30px;
            display: flex;
            flex-direction: column;
            &-title {
                margin: 0;
                padding-bottom: 32px;
                word-wrap: break-word;
            }
            &-data {
                display: flex;
                flex-direction: column;
                &-name{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: $text;
                }
            }
            &-capacity {
                font-size: 14px;
                line-height: 22px;
                color: $text;
                padding-top: 6px;
            }
        }
    }
    &__slider-dots {
        position: absolute;
        bottom: -63px;
        transform: translateX(-50%);
        left: 50%;
    }
}

@media (min-width: 768px) {
    .team-slider {
        padding: 30px 0 46px;
        &__content {
            &-description {
                &-title {
                    font-size: 38px;
                    line-height: 46px;
                    padding-bottom: 30px;
                }
                &-data {
                    flex-direction: row;
                    &-name:first-child {
                        margin-right: 5px;
                    }
                }
            }
        }
        &__slider-dots {
            bottom: -60px;
        }
    }
}

@media (min-width: 992px) {
    .team-slider {
        &__content {
            display: flex;
            &-img {
                width: 44.247%;
                &-picture {
                    height: 528px;
                    border-radius: 12px 0px 0px 12px;
                }
            }
            &-description {
                width: 55.572%;
            }
        }
    }
}

@media (min-width: 1320px) {
    .team-slider {
        &__content {
            &-img {
                width: 30.303%;
                &-picture {
                    height: 344px;
                }
            }
            &-description {
                width: 69.696%;
            }
        }
    }
}
