.tel {
    font-size: 16px;
    line-height: 20px;
    &--alt-color {
        color: $main-alt;
    }
    &--white {
        color: $white;
    }
    &--text-color {
        color: $text;
    }
    &--bold {
        font-weight: 700;
    }
}
