.textarea {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: $black;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    padding: 15px;
    margin-bottom: 30px;
    height: 130px;
    flex-shrink: 0;
    opacity: 1;
    resize: none;
    scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
    }
    &::placeholder {
        font-size: 16px;
        line-height: 26px;
        color: $text;
        opacity: 1;
    }
    &:focus {
        border: 1px solid $active-regular;
    }
    &:disabled {
        border: 1px solid $bg-alt;
        background-color: $bg-alt;
    }
}
